In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from utils import get_core_set
from matplotlib.colors import ListedColormap
import numpy as np

In [18]:
results_dir = Path("../results")

df_summary = pd.read_csv("../summary_jobs.csv")

In [19]:
df_summary.head()

print(len(df_summary))
print()

284

In [20]:
df = df_summary[df_summary["peptide_chain_len"] >= 30]

In [21]:
df["job_name"].to_csv("bads.csv", index=False)

In [7]:
df_summary.columns

Index(['job_name', 'job_dir', 'pdb_id', 'pdb_date', 'protein_chains',
       'peptide_chains', 'peptide_chain_len', 'peptide_chain_has_ncaa',
       'msa_status_af3', 'infer_status_af3', 'msa_status_rfaa',
       'infer_status_rfaa', 'msa_status_chai', 'infer_status_chai',
       'msa_status_helix', 'infer_status_helix', 'msa_status_afm',
       'infer_status_afm'],
      dtype='object')

In [9]:
df_energy = pd.read_csv(results_dir / "deltaG_native.csv")

In [10]:
df_energy.head()

,job_name,dG_separated,dG_cross,sc_value,nres_all,nres_int,total_score,binding_energy
0,8c5l_C,116.201302,-26.563793,0.657503,574.0,46.0,-151.984394,-142.765095
1,8cav_D,250.266571,62.517445,0.556771,880.0,66.0,2385.610673,-187.749126
2,8ccz_C,64.988777,-38.062405,0.735222,576.0,56.0,-232.529886,-103.051182
3,8cd3_A,8.570489,-31.803303,0.767265,110.0,44.0,-100.684217,-40.373792
4,8che_C,2.187284,-46.730911,0.758479,448.0,62.0,-622.964350,-48.918195

In [11]:
df_iASA = pd.read_csv(results_dir / "iASA_native.csv")

In [12]:
df_iASA.head()

  job_name        iASA      iASA%  sasa_peptide  sasa_protein  sasa_complex
0   8c5l_C  624.850114  31.076444   2010.687321  23673.274874  24434.261968
1   8cav_D  645.486582  30.502313   2116.188967  36987.652887  37812.868689
2   8ccz_C  976.586255  39.539905   2469.875089  25001.261138  25517.963717
3   8cd3_A  502.104275  41.985387   1195.902449   6495.063409   6686.757310
4   8che_C  779.780279  43.195200   1805.247532  19732.549241  19978.236215